{% set version = '2020-02-20' %}
<!doctype html>
<html lang="{{ locale }}">
<head>

    <title>{{ i18n.t('index.meta.title') }}{{ parameters.pageprefix }}</title>

    <meta name="description" content="{{ i18n.t('index.meta.description') }}">
    <meta name="keywords" content="{{ i18n.t('index.meta.keywords') }}">

    <meta name="og:title" content="{{ i18n.t('index.meta.title') }}">
    <meta name="og:description" content="{{ i18n.t('index.meta.description') }}">
    <meta name="og:image" content="/assets/Picture_Page_1.jpg">

    {% include './meta.html.twig' %}

    <link rel="stylesheet" type="text/css" href="/vendor/carousel-3d/jquery.carousel-3d.default.css?v={{ version }}"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css?v={{ version }}">
    <link rel="stylesheet" type="text/css" href="/css/reveal.css?v={{ version }}">
    <link rel="stylesheet" type="text/css" href="/css/presentation.css?v={{ version }}">

</head>
<body class="bg-color-yellow body-bg-light">

<div id="loading" class="text-center w-100 h-100 body-bg-light">

    <picture class="d-block position-fixed" id="loading-earth">
        <img src="/assets/loading_earth.png"
             alt=""
             class="animation-spin-10s">
    </picture>

    <picture class="d-block position-fixed" id="loading-hare">
        <img src="/assets/loading_hare.gif"
             alt="">
    </picture>

    <picture class="d-block position-fixed" id="loading-flies">
        <img src="/assets/loading_flies.png"
             alt=""
             class="animation-spin-14s">

    </picture>

    <div class="d-block position-fixed" id="loading-bar-container">
        <div id="loading-bar"></div>
    </div>

</div>

{% include './navigation.html.twig' %}

<div id="main-content" class="reveal">
    <div class="slides m-0 p-0">

        {% include './slide1.html.twig' %}
        {% include './slide2.html.twig' %}
        {% include './slide3.html.twig' %}
        {% include './slide4.html.twig' %}
        {% include './slide5.html.twig' %}
        {% include './slide6.html.twig' %}

    </div>

</div>


<!--START Required dependencies-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!--END Required dependencies-->

<!--START Carousel 3D-->
<script type="text/javascript" src="/vendor/carousel-3d/jquery.resize.js"></script>
<script type="text/javascript" src="/vendor/carousel-3d/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="/vendor/carousel-3d/modernizr.js"></script>
<script type="text/javascript" src="/vendor/carousel-3d/jquery.carousel-3d.min.js"></script>
<!--END Carousel 3D-->

<script type="text/javascript" src="/js/reveal.js?v={{ version }}"></script>
<script type="text/javascript" src="/js/progressbar.min.js"></script>

<script type="text/javascript" src="/js/index.js?v={{ version }}"></script>

</body>
</html>
