<nav id="navigation">
    <div class="navbar fixed-top navbar-expand">
        <div class="container-fluid p-0">
            <div class="row no-gutters w-100 align-items-center">

                <div class="col-6">
                    <ul class="navbar-nav justify-content-start align-items-center">
                        <li class="nav-item">
                            <a class="nav-link color-accent p-0" href="/">
                                <img src="/assets/Logo_FingerTips.png?v=1" class="img-fluid p-1" alt=""/>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link color-accent p-0" href="#">
                                <img src="/assets/fb.png?v=1" class="img-fluid p-1" alt=""/>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link color-accent p-0" href="#">
                                <img src="/assets/ig.png?v=1" class="img-fluid p-1" alt=""/>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link color-accent p-0" href="#">
                                <img src="/assets/vk-social.png?v=1" class="img-fluid p-1" alt=""/>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-6">
                    <ul class="navbar-nav justify-content-end align-items-center">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link py-0" href="{{ parameters.appstore[locale] }}"
                               title="{{ i18n.t('nav.appstore') }}"
                               rel="nofollow">
                                <img src="/assets/Elements_web/Download_on_the_App_Store_Badge.png?v=1"
                                     alt="{{ i18n.t('nav.appstore') }}"
                                     class="img-fluid p-1">
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link py-0" href="{{ parameters.gplay[locale] }}"
                               title="{{ i18n.t('nav.gplay') }}"
                               rel="nofollow">
                                <img src="/assets/Elements_web/google-play-badge.png?v=1"
                                     alt="{{ i18n.t('nav.gplay') }}"
                                     class="img-fluid p-1">
                            </a>
                        </li>
                        <li class="nav-item dropdown font-roboto d-flex align-items-center">
                            <a class="h4 nav-link dropdown-toggle m-0 text-uppercase p-0" href="#"
                               style="max-height: 40px"
                               id="langDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                {{ locale }}
                            </a>
                            <div class="dropdown-menu bg-color-yellow w-100 text-center"
                                 aria-labelledby="langDropdown">
                                {% for loc in parameters.supportedLocales %}
                                    {% if loc != locale %}
                                        <a class="dropdown-item h5 p-0 my-2 text-uppercase"
                                           href="/{% if loc != parameters.defaultLocale %}{{ loc }}{% endif %}">
                                            {{ loc }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="#">
                                <img id="navigation-volume"
                                     src="/assets/sound.png?v=1"
                                     data-on="/assets/sound.png?v=1"
                                     data-off="/assets/sound_off.png?v=1"
                                     style="max-height: 30px"
                                     alt="{{ i18n.t('nav.sound') }}"
                                     class="img-fluid p-1">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>