<section class="reveal-slide-3">

    <div class="d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="p-0 my-0 mx-5 border-0">
                        <tbody>
                        <tr style="height:30vh">
                            <td style="width: 100%;vertical-align: middle">
                                <img data-src="/assets/ramka_2.png?v=1"
                                     alt=""
                                     class="img-fluid decor-img">

                                <p class="h1 font-markscript my-3 px-3">
                                    “{{ i18n.t('slide3.title')|safe }}“
                                </p>

                                <img data-src="/assets/ramka_2.png?v=1"
                                     style="transform: rotate(180deg);"
                                     alt=""
                                     class="img-fluid decor-img">
                            </td>
                        </tr>
                        <tr style="height:40vh">
                            <td style="width: 100%;vertical-align: top;text-align: center">
                                <div class="container-fluid">
                                    <div class="row no-gutters">
                                        <div class="col-12 col-md-10 mx-auto">
                                            <div class="row">
                                                <div class="col-md-4 d-none d-md-block text-center px-1">
                                                    <img data-src="/assets/Скрин 1.jpg?v=1"
                                                         id="slide-3-img-1-desktop"
                                                         alt=""
                                                         class="img-fluid my-shadow">

                                                    <p class="h1 font-markscript m-0">
                                                        {{ i18n.t('slide3.card1')|safe }}
                                                    </p>
                                                </div>
                                                <div class="col-5 offset-1 offset-md-0 col-md-4 text-center px-1">
                                                    <img data-src="/assets/Скрин 3.jpg?v=1"
                                                         id="slide-3-img-2-desktop"
                                                         alt=""
                                                         class="img-fluid my-shadow">

                                                    <p class="h1 font-markscript m-0">
                                                        {{ i18n.t('slide3.card2')|safe }}
                                                    </p>
                                                </div>
                                                <div class="col-5 col-md-4 text-center px-1">
                                                    <img data-src="/assets/Скрин 2.jpg?v=1"
                                                         id="slide-3-img-3-desktop"
                                                         alt=""
                                                         class="img-fluid my-shadow">

                                                    <p class="h1 font-markscript m-0">
                                                        {{ i18n.t('slide3.card3')|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="p-0 m-0 border-0">
                        <tbody>
                        <tr style="height:40vh">
                            <td colspan="2" style="width: 100%;vertical-align: middle">
                                <img data-src="/assets/ramka_2.png?v=1"
                                     alt=""
                                     class="img-fluid decor-img">

                                <p class="h1 font-markscript my-1 px-3">
                                    “{{ i18n.t('slide3.title') }}“
                                </p>

                                <img data-src="/assets/ramka_2.png?v=1"
                                     style="transform: rotate(180deg);"
                                     alt=""
                                     class="img-fluid decor-img">
                            </td>
                        </tr>
                        <tr style="height:40vh">
                            <td style="width: 50%;vertical-align: top;text-align: right">
                                <img data-src="/assets/Скрин 3.jpg?v=1"
                                     id="slide-3-img-1-mobile"
                                     alt=""
                                     class="img-fluid my-shadow mx-2">
                            </td>
                            <td style="width: 50%;vertical-align: top;text-align: left">
                                <img data-src="/assets/Скрин 2.jpg?v=1"
                                     id="slide-3-img-2-mobile"
                                     alt=""
                                     class="img-fluid my-shadow mx-2">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>