<section class="reveal-slide-6">

    <div class="d-none d-lg-block">
        <img data-src="/assets/Elements_web/Мюнхаузен_подозрительній_цвет_гамма.png?v=1"
             alt=""
             class="img-fluid"
             id="slide-6-img-1">

        <img data-src="/assets/Elements_web/Мюнхаузен_летит.png?v=2"
             alt=""
             class="img-fluid"
             id="slide-6-img-2">
    </div>

    <table class="m-0 p-0 border-0 w-100"
           style="position: absolute;top: 0;left: 0">
        <tbody>
        <tr style="height: 50vh;">
            <td style="vertical-align: middle;text-align: center;">

                <h2 class="h1 font-markscript px-3">
                    “{{ i18n.t('slide6.title') }}“
                </h2>

                <img data-src="/assets/Elements_web/без ваувау.png?v=1" alt=""
                     class="img-fluid"
                     style="width: 100%;max-width: 600px;">

            </td>
        </tr>
        </tbody>
    </table>

    <div id="wau-container" style="text-align: center;width:100%;height:90vh">
        <img data-src="/assets/wau-bottom.gif?v=1"
             alt=""
             id="wau-animation">
    </div>

    <table class="m-0 p-0 border-0 w-100"
           style="position: absolute;bottom: 0;left: 0; z-index: 900;">
        <tbody>
        <tr id="footer-links">
            <td style="vertical-align: middle;text-align: center;">

                <div class="text-nowrap">
                    <a class="mx-2" href="{{ parameters.appstore }}" rel="nofollow">
                        <img data-src="/assets/Elements_web/Download_on_the_App_Store_Badge.png?v=1"
                             style="width: 120px"
                             alt="{{ i18n.t('nav.appstore') }}"
                             class="img-fluid">
                    </a>
                    <a class="mx-2" href="{{ parameters.gplay }}"
                       rel="nofollow">
                        <img data-src="/assets/Elements_web/google-play-badge.png?v=1"
                             style="width: 120px"
                             alt="{{ i18n.t('nav.gplay') }}"
                             class="img-fluid">
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</section>