<section class="reveal-slide-4">

    <table class="p-0 m-0 border-0 w-100">
        <tbody>
        <tr style="height:30vh" id="slide-4-text">
            <td style="width: 100%;vertical-align: middle">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <img data-src="/assets/ramka_2.png?v=1"
                                     alt=""
                                     class="img-fluid decor-img">

                                <p class="h1 font-markscript my-3 px-3">
                                    “{{ i18n.t('slide4.title')|safe }}“
                                </p>

                                <img data-src="/assets/ramka_2.png?v=1"
                                     style="transform: rotate(180deg);"
                                     alt=""
                                     class="img-fluid decor-img">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="height:40vh">

            <td style="width: 100%;vertical-align: top;text-align: center">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div id="slide-4-carousel" class="mx-auto">
                            <div class="row no-gutters align-items-center">
                                <div class="col-1">
                                    <img id="actors-carousel-prev" data-src="/assets/arrow.png?v=1" alt=""
                                         class="img-fluid p-1"
                                         style="transform: rotate(180deg)"/>
                                </div>
                                <div class="col-10">
                                    <div id="actors-carousel" data-carousel-3d>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_munchausen-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_munchausen-0.png?v=1"
                                                 data-animation="/assets/characters/an_munchausen.gif?v=1"
                                                 data-animation-duration="800"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_munchausen_1.aac,/assets/characters/media/{{ locale }}/s_munchausen_2.aac,/assets/characters/media/{{ locale }}/s_munchausen_3.aac"
                                                 alt="">
                                            <h5 class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person1')|safe }}
                                            </h5>
                                        </div>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_daughter-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_daughter-0.png?v=1"
                                                 data-animation="/assets/characters/an_daughter.gif?v=1"
                                                 data-animation-duration="1040"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_daughter_1.aac,/assets/characters/media/{{ locale }}/s_daughter_2.aac,/assets/characters/media/{{ locale }}/s_daughter_3.aac"
                                                 alt="">
                                            <h5 class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person2')|safe }}
                                            </h5>
                                        </div>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_nemo-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_nemo-0.png?v=1"
                                                 data-animation="/assets/characters/an_nemo.gif?v=1"
                                                 data-animation-duration="4500"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_nemo_1.aac,/assets/characters/media/{{ locale }}/s_nemo_2.aac,/assets/characters/media/{{ locale }}/s_nemo_3.aac"
                                                 alt="">
                                            <h5 class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person3')|safe }}
                                            </h5>
                                        </div>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_list_1-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_list_1-0.png?v=1"
                                                 data-animation="/assets/characters/an_list_1.gif?v=1"
                                                 data-animation-duration="4000"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_list_1_1.aac,/assets/characters/media/{{ locale }}/s_list_1_2.aac,/assets/characters/media/{{ locale }}/s_list_1_3.aac"
                                                 alt="">
                                            <p class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person4')|safe }}
                                            </p>
                                        </div>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_list_2-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_list_2-0.png?v=1"
                                                 data-animation="/assets/characters/an_list_2.gif?v=1"
                                                 data-animation-duration="3200"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_list_2_1.aac,/assets/characters/media/{{ locale }}/s_list_2_2.aac,/assets/characters/media/{{ locale }}/s_list_2_3.aac"
                                                 alt="">
                                            <h5 class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person5')|safe }}
                                            </h5>
                                        </div>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_list_3-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_list_3-0.png?v=1"
                                                 data-animation="/assets/characters/an_list_3.gif?v=1"
                                                 data-animation-duration="3000"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_list_3_1.aac,/assets/characters/media/{{ locale }}/s_list_3_2.aac,/assets/characters/media/{{ locale }}/s_list_3_3.aac"
                                                 alt="">
                                            <h5 class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person6')|safe }}
                                            </h5>
                                        </div>
                                        <div class="slide">
                                            <img class="painting img-fluid"
                                                 data-src="/assets/characters/an_nephew-0.png?v=1"
                                                 data-first-frame="/assets/characters/an_nephew-0.png?v=1"
                                                 data-animation="/assets/characters/an_nephew.gif?v=1"
                                                 data-animation-duration="3400"
                                                 data-audio="/assets/characters/media/{{ locale }}/s_nephew_1.aac,/assets/characters/media/{{ locale }}/s_nephew_2.aac,/assets/characters/media/{{ locale }}/s_nephew_3.aac"
                                                 alt="">
                                            <h5 class="h5 painting-text font-markscript w-50 p-4">
                                                {{ i18n.t('slide4.person7')|safe }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <img id="actors-carousel-next" data-src="/assets/arrow.png?v=1" alt=""
                                         class="img-fluid p-1"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>

</section>